{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<p style="text-align: center;"><strong>Sun of&nbsp;the sleepless! Melancholy star!</strong><br /><strong>Whose tearful beam glows tremulously far,</strong><br /><strong>That show&rsquo;st the darkness thou canst not dispel,</strong><br /><strong>How like art thou to&nbsp;joy remember&rsquo;d well!</strong></p>
<p style="text-align: center;"><span style="text-decoration: underline;">So&nbsp;gleams the past, the light of&nbsp;other days,</span><br /><span style="text-decoration: underline;">Which shines, but warms not with its powerless rays;</span><br /><span style="text-decoration: underline;">A&nbsp;night-beam Sorrow watcheth to&nbsp;behold,</span><br /><span style="text-decoration: underline;">Distinct, but distant&nbsp;&mdash; clear, but&nbsp;oh, how cold!</span></p>
<p style="text-align: center;"><em>George Gordon Byron&nbsp;</em></p>
{% endblock content %}
{{ flatpage.content }}