{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<p style="text-align: center;"><span style="color: #339966;">Неспящих солнце! Грустная звезда!</span><br /><span style="color: #339966;">Как слезно луч мерцает твой всегда,</span><br /><span style="color: #339966;">Как темнота при нем еще темней,</span><br /><span style="color: #339966;">Как он&nbsp;похож на&nbsp;радость прежних дней!</span></p>
<p style="text-align: center;"><span style="color: #800080;">Так светит прошлое нам в&nbsp;жизненной ночи,</span><br /><span style="color: #800080;">Но&nbsp;уж&nbsp;не&nbsp;греют нас бессильные лучи;</span><br /><span style="color: #800080;">Звезда минувшего так в&nbsp;горе мне видна,</span><br /><span style="color: #800080;">Видна, но&nbsp;далека&nbsp;&mdash; светла, но&nbsp;холодна!</span></p>
<p style="text-align: center;"><span style="background-color: #ff0000;">Джордж Гордон Байрон&nbsp;</span></p>
{% endblock content %}
{{ flatpage.content }}